<div class="">
  <div class="header-statistics">
    <form class="header-statistics_form">
      <app-filter (filterTables)='filterTables($event)' [dataForm]="dataForm"></app-filter>
      <!--<button type="submit" class="btn btn-primary">Submit</button>-->
    </form>
  </div>
  <div class="body-statistics">
    <app-custom-chart [type]="type" [options]="options" [data]="data" ></app-custom-chart>
    <button (click)="changeType('pie')">Pie</button>
    <button (click)="changeType('doughnut')">doughnut</button>
    <button (click)="changeType('line')">line</button>
  </div>
</div>
