<div class="">
  <div class="header-statistics">
    <form class="header-statistics_form">
      <div class="form-group">
        <label>
          <span>Выберите таблицу</span>
          <select class="form-control form-control-sm">
            <option>Large select</option>
            <option>Large select</option>
            <option>Large select</option>
            <option>Large select</option>
            <option>Large select</option>
          </select>
        </label>
      </div>
      <div class="form-group">
        <label>
          <span>От</span>
          <input class="form-control form-control-sm" type="date">
        </label>
      </div>
      <div class="form-group">
        <label>
          <span>До</span>
          <input class="form-control form-control-sm" type="date">
        </label>
      </div>
      <!--<button type="submit" class="btn btn-primary">Submit</button>-->
    </form>
  </div>
  <div class="body-statistics">
    <app-custom-chart [type]="type" [options]="options" [data]="data" ></app-custom-chart>
    <button (click)="changeType('pie')">Pie</button>
    <button (click)="changeType('doughnut')">doughnut</button>
    <button (click)="changeType('line')">line</button>
  </div>
</div>
